{% extends 'main/base.html' %}

{% block title %} ورود {% endblock %}

{% block content %}
        <div class="halves">
            <div class="half_right input-box">
                <form method="post" action="{{ url_for('login') }}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <img src="{{ captcha_image_url }}" alt="CAPTCHA" style="width: 90%">
                    </div>
                    <div class="mb-3">
                        {{ form.captcha.label(class="form-label") }}
                        {{ form.captcha(class="form-control") }}
                    </div>
                    <input type="hidden" name="captcha_text" value="{{ captcha_text }}">
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
            </div>
             <div class="half_left">
                <img src="/static/images/login.png" alt="Your Image">
            </div>
        </div>
{% endblock %}
