:root {
    --primary-header-color: #031148;
    --secondary-header-color: #241c94;
    --accent-color: #e74c3c;
    --background-color: rgba(84, 87, 87, 0.56);
    --text-color: #2c3e50;
    --sidebar-color: #2e86c1;
    --sidebar-color-hover: #2218a7;
    --left-sidebar-color: rgba(15, 8, 117, 0.5);
    --left-sidebar-color-sub-item: rgba(10, 5, 87, 0.2);
    --content-sub-parts: rgba(160, 237, 253, 0.2)
}

.title {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
}

/* Container to hold the two halves */
.halves {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Ensure both halves stretch to the same height */
    max-width: 85%; /* Example max-width to limit overall container width */
    margin: 0 auto; /* Center container horizontally */
    padding-bottom: 20px;
}

/* Styles for the form half */
.half_right {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1; /* Allow to grow equally */
    border-radius: 0 10px 10px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.60);
    max-width: 45%;
}

/* Styles for the image half */
.half_left {
    position: relative;
    display: flex;
    flex-grow: 1; /* Allow the image half to grow based on the content */
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    max-width: 55%;
    height: auto;
}

/* Ensure the image fits within its container */
.half_left img {
    width: 100%;
    height: 100%; /* Make the image take full height of the container */
    object-fit: cover; /* This will crop the image to fit while preserving aspect ratio */
}


.half_left .secondary_image {
    position: absolute;
    height: 40%;
    width: auto;
    opacity: 0.5;
    /* Centering the image */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.half_right .vector{*/
/*    padding-top: 40px;*/
/*    height: 45%;*/
/*    width: auto;*/
/*    opacity: 40%;*/
/*    transform: scaleX(-1); !* Flip the image horizontally *!*/
/*}*/


.input-box select,
.input-box input {
    width: 100%;
    /*height: 50%;*/
    /*background: transparent;*/
    outline: none;
    /*border: 2px solid rgba(255, 255, 255, 0.80);*/
    border-radius: 40px;
    font-size: 18px;
    /*color: white;*/
}


.input-box box-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/*this is for auto scroll adjustment*/
#conflict_search, #add_avg_label, #extract_data, #add_data, #add_labels, #user_report, #user_labels, #users_report, #report-result {
    scroll-margin-top: 30px; /* Adjust the value as needed */
}


/* Base button style */
.btn-group-toggle .btn {
    margin: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-active {
    background-color: rgba(248, 29, 29, 0.87); /* Change to a different color or shade */
    color: #312929; /* Optional: change text color */
    border-color: rgb(5, 204, 144); /* Optional: change border color */
}

/* Grid layout for buttons */
#collections-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the width of buttons */
    gap: 15px; /* Space between buttons */
}

#collections-buttons button {
    padding: 10px 15px; /* Button padding */
    font-size: 16px; /* Adjust font size */
}

