{% extends 'access/admin/admin_base.html' %}

{% block content %}
    <h2>گزارشات</h2>

    {% if users %}
        <h5 style="margin-top: 70px">کاربر مورد نظر را برای گزارش انتخاب کنید:</h5>
        <form action="{{ url_for('admin_report') }}" method="post">
            {{ report_task_form.hidden_tag() }}
            {{ report_task_form.username(class="form-control") }}
            <button type="submit" name="task" value="labels" class="btn btn-primary btn-sm" style="margin: 20px;">دریافت تعداد برچسب ها</button>
            <button type="submit" name="task" value="data" class="btn btn-primary btn-sm" style="margin: 20px;">نمایش برچسب ها</button>
        </form>
    {% else %}
        <p>کاربری یافت نشد!</p>
    {% endif %}

    {% if report_data %}
        <div class="report-result" style="margin: 20px;">
            <h3 style="padding-bottom: 15px ">گزارش برای {{ report_data.username }}</h3>
            {% if report_data.type == 'labels' %}
                <p>تعداد برچسب ها:   {{ report_data.number_of_labels }}</p>
                <p>درجه انطباق:    {{ report_data.consensus_degree }}</p>
            {% elif report_data.type == 'data' %}
                <p>Number of Updates: {{ report_data.number_of_updates }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
