{% extends 'access/admin/admin_base.html' %}

{% block content %}
    <h2>User Management</h2>


    <h5 style="margin-top: 70px">Create user:</h5>
    <p>Do you want to create an account?</p>
    <a href="{{ url_for('sign_up') }}" class="btn btn-primary btn-sm">Sign Up</a>


    {% if users %}
        <h5 style="margin-top: 70px">Remove user</h5>
        <form action="{{ url_for('remove_user') }}" method="post">
            {{ remove_user_form.hidden_tag() }}
            <p>Select the user you want to remove:</p>
            {{ remove_user_form.username(class="form-control") }}
            {{ remove_user_form.submit(class="btn btn-danger btn-sm", style="margin-top: 10px") }}
        </form>
    {% else %}
        <p>No users found.</p>
    {% endif %}





{% endblock %}
