{% extends 'access/admin/admin_base.html' %}

{% block content %}
    <h2 style="text-align: center">مدیریت پایگاه داده</h2>

    <form action="{{ url_for('admin_db_management') }}" method="post">
        <h5 style="margin-top: 70px">رفع تناقض در برچسب ها</h5>
        {{ conflict_search_form.hidden_tag() }}
        <div class="form-group" style="margin-right: 20px">
            <label for="collection_name">مجموعه داده مورد نظر را انتخاب کنید:</label>
            {{ conflict_search_form.data_collection(class="form-control") }}
        </div>
        <div class="form-group" style="margin-top: 10px">
            <label for="threshold" style="margin: 20px">حد آستانه تناقض برای برچسب‌ها:</label>
            <input type="range" class="form-range" id="threshold" name="threshold" min="0.1" max="1" step="0.1"
                   value="0.5" oninput="this.nextElementSibling.value = this.value"
                   style="width: 30%; margin: 15px; padding-top: 15px">
            <output style="margin: 20px">0.5</output>
        </div>
        <button type="submit" name="search" class="btn btn-primary btn-sm" style="margin-top: 10px; margin-right: 20px">
            یافتن داده
            متناقض
        </button>
    </form>
    <div style="margin-right: 20px">
        {% if conflict_row %}
            <p style="padding-top: 10px">اولین داده متناقض:</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>داده</th>
                    <th>برچسب‌ها</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ conflict_row['data'] }}</td>
                    <td>
                        {% for key, value in conflict_row['label'].items() %}
                            <strong>{{ key }}:</strong> {{ value }}{% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
            <form action="{{ url_for('admin_db_management') }}" method="post">
                {{ conflict_search_form.hidden_tag() }}
                <p>برچسب مناسب را انتخاب کنید: </p>
                <input type="hidden" name="row_id" value="{{ conflict_row['_id'] }}">
                {{ conflict_search_form.label(class="form-control") }}
                <button type="submit" name="set_label" class="btn btn-primary btn-sm" style="margin-top: 20px">افزودن
                    برچسب
                </button>
            </form>
        {% else %}
            {% if request.method == 'POST' %}
                <p style="margin-top: 15px">هیچ داده متناقضی یافت نشد!</p>
            {% endif %}
        {% endif %}
    </div>


    <h5 style="margin-top: 80px">افزودن برچسب تجمعی</h5>
    <form action="{{ url_for('add_average_label') }}" method="post" style="margin-right: 20px">
        {{ add_average_label_form.hidden_tag() }}
        <div class="form-group">
            <label for="collection_name">مجموعه مورد نظر را انتخاب کنید:</label>
            {{ add_average_label_form.data_collection(class="form-control") }}
        </div>
        {{ add_average_label_form.set_average_label(class="btn btn-primary btn-sm", style="margin-top: 10px") }}
    </form>


    <h5 style="margin-top: 80px">استخراج پایگاه داده</h5>
    <form action="{{ url_for('extract_db') }}" method="post" style="margin-right: 20px">
        {{ extract_db_form.hidden_tag() }}
        <div class="form-group">
            <label for="collection_name">مجموعه مورد نظر را انتخاب کنید:</label>
            {{ extract_db_form.collection_name(class="form-control") }}
        </div>
        {{ extract_db_form.submit(class="btn btn-primary btn-sm", style="margin-top: 10px") }}
    </form>

    {% if extracted %}
        <a href="{{ url_for('download_file', collection_name=collection_name) }}" class="btn btn-success"
           style="background:#1eaf1e; margin-top: 20px; margin-right: 20px">دانلود پایگاه داده استخراج شده.</a>
    {% endif %}

    <h5 style="margin-top: 80px">درج یک مجموعه داده</h5>
    <form action="{{ url_for('import_db') }}" method="post" enctype="multipart/form-data" style="margin-right: 20px">
        {{ import_db_form.hidden_tag() }}
        {#        <div class="form-group" style="padding-top:10px ">#}
        {#            <label for="collection_name">نام مجموعه:</label>#}
        {#            {{ import_db_form.collection_name(class="form-control") }}#}
        {#        </div>#}
        <div class="form-group" style="padding-top:10px ">
            <label for="file"> فایل JSON:</label>
            {{ import_db_form.file(class="form-control") }}
        </div>
        {{ import_db_form.submit(class="btn btn-primary btn-warning", style="margin-top: 10px") }}
    </form>



    <h5 style="margin-top: 80px">اختصاص برچسب برای داده ها</h5>
    <form action="{{ url_for('admin_db_management') }}" method="post" id="optionForm" onsubmit="updateHiddenField()"
          style="margin-right: 20px">
        {{ admin_label_config_form.hidden_tag() }}
        <div class="form-group">
            <label for="collection_name">مجموعه داده مورد نظر را انتخاب کنید:</label>
            {{ admin_label_config_form.data_collection(class="form-control") }}
        </div>
        {{ admin_label_config_form.labels(id='stringfield') }}  <!-- Add the hidden field here -->
        <div class="input-group" style="width: 30%; margin-top: 10px">
            {{ admin_label_config_form.new_option.label(style="margin-right: 10px; padding-top: 5px") }} {{ admin_label_config_form.new_option(class="form-control", style="margin-right: 10px", size=20) }}
            <button type="button" onclick="addOption()" class="btn btn-primary btn-sm"
                    style="margin-right: 5px; padding: 5px">افزودن
            </button>
        </div>
        <select id="dynamicSelect" name="dynamicSelect" style="width: 100%; padding: 8px; margin-top: 10px">
            <option value="" disabled selected>اینجا برچسب های مورد نظر می باشند</option>
        </select>
        <button type="submit" name="save_labels" class="btn btn-primary btn-sm"
                style="margin-top: 10px; margin-bottom: 50px">
            افزودن این برچسب ها
        </button>
    </form>

    <script src="{{ url_for('static', filename='js/admin_db.js') }}"></script>

{% endblock %}
