{% extends 'access/admin/admin_base.html' %}


{% block sidebar %}
    <div style="flex: 0 0 20%; background-color:var(--sidebar-color); border-radius: 0 10px 10px 0">

        <nav class="navbar navbar-expand-lg navbar-dark p-0"
             style="background-color: var(--sidebar-color);margin-top: 10px; position: sticky; top: 25px; z-index: 1000;">
            <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch p-0">
                <ul class="navbar-nav flex-column w-100" style="padding-inline-start: 0;">
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center" href="{{ url_for('admin_report') }}#user_report"
                           style="border: 1px solid #15482e; padding: 10px; margin-bottom: 5px;">
                            گزارش عملکرد فرد
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center" href="{{ url_for('admin_report') }}#user_labels"
                           style="border: 1px solid  #15482e; padding: 10px; margin-bottom: 5px;">
                            نمایش برچسب های فرد
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_report') }}#users_report"
                           style="border: 1px solid  #15482e; padding: 10px; margin-bottom: 5px;">
                            گزارش کلی همه کاربران
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <style>
        .nav-link2:hover {
            background-color: rgba(23, 68, 42, 0.5);
            transition: background-color 0.3s ease;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="halves">
        <div class="half_right input-box">
            <h2 class="title">گزارشات</h2>
            {% if collection %}
                <form action="{{ url_for('admin_report') }}#report-result" method="post" class="input-box">
                    {{ report_task_form.hidden_tag() }}
                    <h6 style="margin-top: 70px">داده مورد نظر را برای گزارش انتخاب کنید:</h6>
                    {{ report_task_form.collection(class="form-control", id="collection", onchange="this.form.submit();") }}
                    <h6 style="margin-top: 20px">کاربر مورد نظر را برای گزارش انتخاب کنید:</h6>
                    {{ report_task_form.username(class="form-control", id="username") }}
                    <button id="user_report" type="submit" name="labels" class="btn btn-success"
                            style="width:100%; margin-top: 20px;">
                        دریافت عملکرد فردی
                    </button>
                    <button id="user_labels" type="submit" name="data" class="btn btn-success"
                            style="width:100%; margin-top: 20px;">
                        نمایش برچسب ها
                    </button>
                    <button id="users_report" type="submit" name="users_report" class="btn btn-success"
                            style="width: 100%; margin-top: 20px;">
                        گزارش کلی کاربران
                    </button>
                </form>
            {% else %}
                <p>داده یافت نشد!</p>
            {% endif %}
        </div>
        <div class="half_left">
            <img src="/static/images/left-side2.jpg" alt="Your Image">
        </div>
    </div>


    {% if report_data %}
        <div id="report-result" class="report-result"
             style="margin: 20px; background-color: rgba(255,255,255,0.40); padding: 20px; border-radius: 10px;">
            <h3 style="padding-bottom: 15px ">گزارش برای {{ report_data.username }}</h3>
            {% if report_data.type == 'labels' %}
                <b style=" width: 40%">تعداد برچسب ها: {{ report_data.number_of_labels }}</b>
                <section>
                    <div style="display: inline-flex;">
                        <b style=" width: 40%">درجه انطباق:</b>
                        <div class="health">
                              <span class="progress-bar" style="width: {{ report_data.consensus_degree }}%;">
                                <span class="shade warm"></span>
                              </span>
                        </div>
                        <b style=" width: 20%">{{ report_data.consensus_degree }} %</b>
                    </div>
                    <div style="display: inline-flex">
                        <b style=" width: 40%">درصد برچسب گذاری:</b>
                        <div class="health">
                              <span class="progress-bar" style="width: {{ report_data.label_percentage }}%;">
                                <span class="shade warm"></span>
                              </span>
                        </div>
                        <b style=" width: 20%">{{ report_data.label_percentage }} %</b>
                        <div>
                </section>

            {% elif report_data.type == 'data' %}
                {#                <p>تعداد کل صفحات: {{ report_data.total_pages }}</p>#}
                {#                <p>صفحه فعلی: {{ report_data.page }}</p>#}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>داده</th>
                        <th>برچسب ها</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in report_data.rows %}
                        <tr>
                            <td>
                                {% if row.row.items %}
                                    <ul>
                                        {% for key, value in row.row.items() %}
                                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <strong>{{ row.row }}</strong>
                                {% endif %}
                            </td>
                            <td>
                                <ul>
                                    {% for key, value in row.answer.items() %}
                                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="pagination"
                     style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                    {% if report_data.page > 1 %}
                        <a href="{{ url_for('admin_report', page=report_data.page - 1, username=report_data.username) }}"
                           class="btn btn-secondary" style="margin: 0 10px;">قبلی</a>
                    {% endif %}
                    <span style="margin: 0 10px;">صفحه {{ report_data.page }} از {{ report_data.total_pages }}</span>
                    {% if report_data.page < report_data.total_pages %}
                        <a href="{{ url_for('admin_report', page=report_data.page + 1, username=report_data.username) }}"
                           class="btn btn-secondary" style="margin: 0 10px;">بعدی</a>
                    {% endif %}
                </div>
                <!-- End Pagination -->


            {% elif report_data.type == 'users_report' %}
                {% for user, data in report_data.users_report_data.items() %}
                    <h4 style="padding-top: 10px">{{ user }}</h4>
                    <section>
                        <div style="display: inline-flex;">
                            <b style=" width: 40%">درجه انطباق:</b>
                            <div class="health">
                              <span class="progress-bar" style="width: {{ data.consensus_degree }}%;">
                                <span class="shade warm"></span>
                              </span>
                            </div>
                            <b style=" width: 20%">{{ data.consensus_degree }} %</b>
                        </div>
                        <div style="display: inline-flex">
                            <b style=" width: 40%">درصد برچسب گذاری:</b>
                            <div class="health">
                              <span class="progress-bar" style="width: {{ data.label_percentage }}%;">
                                <span class="shade warm"></span>
                              </span>
                            </div>
                            <b style=" width: 20%">{{ data.label_percentage }} %</b>
                            <div>
                    </section>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block left_sidebar %}
    <div style="flex: 0 0 20%; background-color:var(--sidebar-color); border-radius: 10px 0 0 10px">
        <div style="margin: 10px 0 10px 0">
            <option style="background-color:  rgba(23, 68, 42, 0.2%); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 10px;">
                کاربران برتر
            </option>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark p-0"
             style="background-color: var(--sidebar-color); margin-top: 10px; position: sticky; top: 25px; z-index: 1000;">
            <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch p-0">
                <ul class="navbar-nav flex-column w-100" style="padding-inline-start: 0;">
                    <li class="nav-item w-100">
                        <div style="margin-bottom: 10px">
                            <option style="background-color: #2D4463; color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 10px; border: 1px solid #000000;">
                                {{ top_users[0].username }}
                            </option>
                        </div>
                    </li>

                    <li class="nav-item w-100">
                        <div style="margin-bottom: 10px">
                            <option style="background-color: #8A3463; color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 10px; border: 1px solid #000000;">
                                {{ top_users[1].username }}
                            </option>
                        </div>
                    </li>

                    <li class="nav-item w-100">
                        <div style="margin-bottom: 10px">
                            <option style="background-color: #BC4347; color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 10px;  border: 1px solid #000000;">
                                {{ top_users[2].username }}
                            </option>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}


{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
{% endblock %}

