{% extends 'access/admin/admin_base.html' %}


{% block sidebar %}
    <div style="flex: 0 0 20%; background-color:var(--sidebar-color)">
        <nav class="navbar navbar-expand-lg navbar-dark p-0"
             style="background-color: var(--sidebar-color); margin-top: 10px; position: sticky; top: 25px; z-index: 1000;">
            <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch p-0">
                <ul class="navbar-nav flex-column w-100" style="padding-inline-start: 0;">
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#conflict_search"
                           style="padding: 10px; margin-bottom: 5px;">
                            رفع تناقض در برچسب ها
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#add_avg_label"
                           style="padding: 10px; margin-bottom: 5px;">
                            افزودن برچسب تجمعی
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#extract_data"
                           style="padding: 10px; margin-bottom: 5px;">
                            استخراج پایگاه داده
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#add_data"
                           style="padding: 10px; margin-bottom: 5px;">
                            درج یک مجموعه داده
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#add_to_collection"
                           style="padding: 10px; margin-bottom: 5px;">
                            افزودن داده به یک مجموعه داده
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#add_labels"
                           style="padding: 10px; margin-bottom: 5px;">
                            اختصاص برچسب برای داده ها
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_db_management') }}#remove_data_collection"
                           style="padding: 10px; margin-bottom: 5px;">
                            حذف مجموعه داده
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <style>
            .nav-link2:hover {
                background-color: var(--sidebar-color-hover); /* Light transparent white on hover */
                transition: background-color 0.3s ease;
            }
        </style>
    </div>

{% endblock %}

{% block content %}
    <div class="halves" style="max-width: 100%">
        <div class="half_right input-box" style="max-width: 75%">

            <h2 class="title">مدیریت پایگاه داده</h2>

            <form action="{{ url_for('admin_db_management') }}" method="post" onsubmit="updateThresholdHiddenField()"
                  class="input-box">
                <h5 id="conflict_search" style="margin-top: 40px">رفع تناقض در برچسب ها</h5>
                {{ conflict_search_form.hidden_tag() }}
                <div class="form-group"
                     style=" display:flex; justify-content:space-between; flex-direction:row-reverse; margin: 25px 20px 0 0">
                    <input type="range" class="form-range" id="threshold" name="threshold" min="0.1" max="1" step="0.1"
                           value="{{ threshold }}" oninput="this.nextElementSibling.value = this.value"
                           style="width: 38%;">
                    <output>{{ threshold }}</output>
                    <label for="threshold">حد آستانه تناقض برای برچسب‌ها:</label>

                </div>
                <div class="form-group" style="margin-right: 20px; margin-top: 20px">
                    <label for="collection_name">مجموعه داده مورد نظر را انتخاب کنید:</label>
                </div>
                <div style="display: flex; align-items: center; width: 100%; padding-right: 20px;">
                    {{ conflict_search_form.data_collection(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    <input type="hidden" id="hiddenThreshold" name="hidden_threshold" value="{{ threshold }}">
                    <button type="submit" name="search" class="btn btn-success"
                            style="width: 38%">
                        یافتن داده متناقض
                    </button>
                </div>
            </form>
            <div style="margin-right: 20px">
                {% if conflict_row %}
                    <p style="padding-top: 30px; margin-bottom: 5px">اولین داده متناقض:</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>داده</th>
                            <th>برچسب‌ها</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {% if conflict_row['data'].items %}
                                    <!-- Handle the case where 'data' is a dictionary -->
                                    <ul>
                                        {% for key, value in conflict_row['data'].items() %}
                                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <!-- Handle the case where 'data' is a string -->
                                    <strong>{{ conflict_row['data'] }}</strong>
                                {% endif %}
                            </td>
                            <td>
                                {% for key, value in conflict_row['label'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}{% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form action="{{ url_for('admin_db_management') }}" method="post">
                        {{ conflict_search_form.hidden_tag() }}
                        <p>برچسب مناسب را انتخاب کنید: </p>
                        <input type="hidden" name="row_id" value="{{ conflict_row['_id'] }}">
                        <div style="display: flex; align-items: center; width: 100%;">
                            {{ conflict_search_form.label(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                            <input type="hidden" name="hidden_threshold" value="{{ threshold }}">
                            <input type="hidden" name="hidden_collection"
                                   value="{{ conflict_search_form.data_collection.data }}">
                            <button type="submit" name="set_label" class="btn btn-danger btn-success"
                                    style=" width:38%;">
                                افزودن برچسب
                            </button>
                        </div>
                    </form>
                {% else %}
                    {% if request.method == 'POST' %}
                        <p style="margin-top: 15px">هیچ داده متناقضی یافت نشد!</p>
                    {% endif %}
                {% endif %}
            </div>

            <h5 id="add_avg_label" style="margin-top: 80px">افزودن برچسب تجمعی</h5>
            <form action="{{ url_for('add_average_label') }}" method="post" style="margin-right: 20px">
                {{ add_average_label_form.hidden_tag() }}
                <div class="form-group">
                    <label for="collection_name">مجموعه مورد نظر را انتخاب کنید:</label>
                </div>
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ add_average_label_form.data_collection(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    {{ add_average_label_form.set_average_label(class="btn btn-success", style="width:38%; margin-top: 10px") }}
                </div>
            </form>


            <h5 id="extract_data" style="margin-top: 80px">استخراج پایگاه داده</h5>
            <form action="{{ url_for('extract_db') }}" method="post" style="margin-right: 20px">
                <label for="collection_name" style="white-space: nowrap; margin-top: 10px">
                    مجموعه مورد نظر را انتخاب کنید:
                </label>
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ extract_db_form.hidden_tag() }}
                    {{ extract_db_form.collection_name(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    {{ extract_db_form.submit(class="btn btn-success", style="width:38%") }}
                </div>
            </form>

            {% if extracted %}
                <div style="display: flex; justify-content: flex-end; margin-top: 20px; margin-right: 20px;">
                    <a href="{{ url_for('download_file', collection_name=collection_name) }}"
                       class="btn btn-success"
                       style="background:#37c9da; width: 38%;">دانلود پایگاه داده استخراج شده.</a>
                </div>
            {% endif %}

            <h5 id="add_data" style="margin-top: 80px">درج یک مجموعه داده</h5>
            <form action="{{ url_for('import_db') }}" method="post" enctype="multipart/form-data"
                  style="margin-right: 20px">
                {{ import_db_form.hidden_tag() }}
                <div class="form-group" style="padding-top:10px ">
                    <label for="file"> فایل CSV/JSON:</label>
                </div>
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ import_db_form.file(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    {{ import_db_form.submit(class="btn btn-success", style="width:38%;") }}
                </div>
            </form>

            <h5 id="add_to_collection" style="margin-top: 80px">افزودن داده به یک مجموعه داده</h5>
            <form action="{{ url_for('add_data_to_collection') }}" method="post" enctype="multipart/form-data"
                  style="margin-right: 20px">
                {{ add_data_to_collection_form.hidden_tag() }}
                <div class="form-group" style="display: flex; align-items: center; width: 100%; margin-top: 10px ">
                    <label for="collection_name" style="width:62%; flex-grow: 1; margin-left: 10px;">
                        {{ add_data_to_collection_form.data_collection.label }}
                    </label>
                    {{ add_data_to_collection_form.data_collection(class="form-control",  style="width:38%;") }}
                </div>
                <div class="form-group" style="padding-top:10px ">
                    <label for="file">
                        {{ add_data_to_collection_form.file.label }}
                    </label>
                </div>
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ add_data_to_collection_form.file(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    {{ add_data_to_collection_form.submit(class="btn btn-success", style="width:38%;") }}
                </div>
            </form>

            <h5 id="add_labels" style="margin-top: 80px">اختصاص برچسب برای داده ها</h5>
            <form action="{{ url_for('admin_db_management') }}" method="post" id="optionForm"
                  onsubmit="updateHiddenField()" style="margin-right: 20px">
                {{ set_data_config_form.hidden_tag() }}
                <div class="form-group" style="display: flex; align-items: center; width: 100%; margin-top: 10px ">
                    <label for="collection_name" style="width:62%; flex-grow: 1; margin-left: 10px;">مجموعه داده مورد
                        نظر را انتخاب کنید:</label>
                    {{ set_data_config_form.data_collection(class="form-control",  style="width:38%;") }}
                </div>
                <div style="display: flex; align-items: center; width: 100%;margin-top: 10px">
                    {{ set_data_config_form.num_required_labels.label(style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    {{ set_data_config_form.num_required_labels(class='form-control', style="width:38%;") }}
                </div>
                {{ set_data_config_form.labels(id='stringfield') }}  <!-- Add the hidden field here -->
                <div style="display: flex; align-items: center; width: 100%; margin-top: 10px">
                    {{ set_data_config_form.new_option.label(style="width:35%; padding-top: 5px") }}
                    {{ set_data_config_form.new_option(class="form-control", style="margin-right: 10px; width:46%;", size=10) }}
                    <button type="button" onclick="addOption()" class="btn btn-success"
                            style="width:19%; margin-right: 10px;">افزودن
                    </button>
                </div>
                <div style="display: flex; align-items: center; width: 100%; margin-top: 10px">
                    <select class="form-control" id="dynamicSelect" name="dynamicSelect"
                            style="flex-grow: 1; border: 1px solid #ccc; width: 81%">
                        <option value="" disabled selected>اینجا برچسب های مورد نظر می باشند:</option>
                    </select>
                    <button type="button" onclick="removeOption()" class="btn btn-success"
                            style="width:19%; margin-right: 10px;">حذف
                    </button>
                </div>

                <div style="display: flex; justify-content: flex-end; margin-top: 20px; margin-right: 20px;">
                    <button type="submit" name="save_labels" class="btn btn-danger"
                            style="white-space: nowrap; width: 38%;">
                        اعمال تنظیمات برچسب
                    </button>
                </div>

            </form>


            <h5 id="remove_data_collection" style="margin-top: 80px">حذف یک مجموعه داده از پایگاه داده ها</h5>
            <form action="{{ url_for('admin_db_management') }}" method="post" style="margin-right: 20px"
                  onsubmit="return confirmDelete();">
                {{ remove_data_collection_form.hidden_tag() }}
                <div class="form-group">
                    <label for="collection_name">مجموعه مورد نظر را انتخاب کنید:</label>
                </div>
                <div style="display: flex; align-items: center; width: 100%;">
                    {{ remove_data_collection_form.data_collection(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                    <button type="submit" name="remove_collection" class="btn btn-danger"
                            style="width: 38%">
                        حذف مجموعه داده!
                    </button>
                </div>
                {#                <div style="display: flex; align-items: center; margin-top:10px">#}
                {#                    {{ remove_data_collection_form.update_user_scores(style="width:5%; flex-grow: 1; margin-left: 10px;") }}#}
                {#                    <label for="update_user_scores" style="margin-left: 10px; width: 90%">بروزرسانی امتیازات#}
                {#                        کاربران</label>#}
                {#                </div>#}
                <p style="font-size: 12px; margin:10px 0 40px 0">با حذف داده تمامی امتیازاتی که کاربران از
                    برچسب زدن این داده بدست آورده اند حذف می شود.</p>
            </form>

            <script type="text/javascript">

            </script>

            <script src="{{ url_for('static', filename='js/admin_db.js') }}"></script>

        </div>

        <div class="half_left" style="max-width: 30%">
            {#            <img src="/static/images/left-side4.jpg">#}
            <img src="/static/images/ss.jpg">
        </div>

    </div>
{% endblock %}

{% block left_sidebar %}
    <div style="flex: 0 0 20%; background-color:var(--sidebar-color)">
        <nav class="navbar navbar-expand-lg navbar-dark p-0"
             style="background-color: var(--sidebar-color); margin-top: 20px; position: sticky; top: 25px; z-index: 1000;">
            <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch p-0">
                <ul class="navbar-nav flex-column w-100" style="padding-inline-start: 0;">
                    <!-- new data -->
                    {% if data_states['unlabeled'] %}
                        <li class="nav-item w-100">
                            <div style="margin-bottom: 20px">
                                <option style="background-color: var(--left-sidebar-color); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 5px;">
                                    داده های جدید:
                                </option>
                                <ul style="list-style: none; padding: 0; margin: 0;">
                                    {% for data in data_states['unlabeled'] %}
                                        <li style="padding: 5px; margin: 5px 0 5px 0; text-align: center; background-color: var(--left-sidebar-color-sub-item); color: rgba(255,255,255,0.85);">{{ data }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    <!-- are labeling data -->
                    {% if data_states['labeling'] %}
                        <li class="nav-item w-100">
                            <div style="margin-bottom: 20px">
                                <option style="background-color: var(--left-sidebar-color); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 5px;">
                                    داده های در حال برچسب گذاری:
                                </option>
                                <ul style="list-style: none; padding: 0; margin: 0;">
                                    {% for data in data_states['labeling'] %}
                                        <li style="padding: 5px;  margin: 5px 0 5px 0; text-align: center; background-color: var(--left-sidebar-color-sub-item); color:  rgba(255,255,255,0.85);">{{ data }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    <!-- labeled data -->
                    {% if data_states['labeled'] %}
                        <li class="nav-item w-100">
                            <div style="margin-bottom: 20px">
                                <option style="background-color: var(--left-sidebar-color); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 5px;">
                                    داده های برچسب خورده:
                                </option>
                                <ul style="list-style: none; padding: 0; margin: 0;">
                                    {% for data in data_states['labeled'] %}
                                        <li style="padding: 5px;  margin: 5px 0 5px 0; text-align: center; background-color: var(--left-sidebar-color-sub-item); color:  rgba(255,255,255,0.85);">{{ data }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}
