{% extends 'access/admin/admin_base.html' %}

{% block navitem_left %}
    <div class="container-fluid">
        <ul class="navbar-nav">
                        <li class="nav-item">
                <div style="padding-top: 10px; padding-left: 30px"> کاربر: {{logged_in_user.username}}</div>
            </li>
            <li class="nav-item">
                <div style="padding-top: 10px; padding-left: 30px">دسترسی: {{logged_in_user.role}}</div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">خروج</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
    <div style="flex: 0 0 20%; background-color:var(--sidebar-color)">
        <nav class="navbar navbar-expand-lg navbar-dark p-0"
             style="background-color: var(--sidebar-color); margin-top: 10px; position: sticky; top: 25px; z-index: 1000;">
            <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch p-0">
                <ul class="navbar-nav flex-column w-100" style="padding-inline-start: 0;">
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_user_management') }}#new_user"
                           style="padding: 10px; margin-bottom: 5px;" data-target="new_user">
                            ساخت کاربر جدید
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_user_management') }}#remove_user"
                           style="padding: 10px; margin-bottom: 5px;" data-target="remove_user">
                            حذف کاربر
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_user_management') }}#assign_data"
                           style="padding: 10px; margin-bottom: 5px;" data-target="assign_data">
                            اختصاص داده
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link nav-link2 w-100 text-center"
                           href="{{ url_for('admin_user_management') }}#revoke_data"
                           style="padding: 10px; margin-bottom: 5px;" data-target="revoke_data">
                            لغو اختصاص داده
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <style>
        .nav-link2:hover {
            background-color: var(--sidebar-color-hover); /* Light transparent white on hover */
            transition: background-color 0.3s ease;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="halves" style="max-width: 80%">
        <div class="half_right input-box" style="max-width: 100%; border-radius: 10px;">
            <h2 class="title" style="margin-bottom: 70px">مدیریت کاربران</h2>
            <div id="new_user" style="margin: -15px; padding: 20px; border-radius: 10px">
                <h5>ساخت کاربر جدید</h5>
                <div style="display: flex; align-items: center; width: 100%;">
                    <p style="width:62%; flex-grow: 1; margin-left: 10px;">آیا میخواهید یک کاربر جدید اضافه کنید؟</p>
                    <a href="{{ url_for('sign_up') }}" class="btn btn-success" style="width:38%;">ایجاد
                        کاربر</a>
                </div>
            </div>

            <div id="remove_user" style="margin: -15px; padding: 20px; border-radius: 10px; margin-top: 80px">
                <h5>حذف کاربر</h5>
                {% if users %}
                    <form action="{{ url_for('remove_user') }}" method="post" style="margin-right: 20px">
                        {{ remove_user_form.hidden_tag() }}
                        <div class="form-group">
                            <p>کاربری که مایل به حذف آن هستید را انتخاب کنید:</p>
                        </div>
                        <div style="display: flex; align-items: center; width: 100%;">
                            {{ remove_user_form.username(class="form-control", style="width:62%; flex-grow: 1; margin-left: 10px;") }}
                            {{ remove_user_form.submit(class="btn btn-danger btn-success", style="width:38%;") }}
                        </div>
                    </form>
                {% else %}
                    <p>کاربری یافت نشد.</p>
                {% endif %}
            </div>

            <div id="assign_data"
                 style="padding: 20px; border-radius: 10px; margin: 80px -15px 20px -15px">
                <h5>اختصاص داده به کاربران</h5>
                <form action="{{ url_for('admin_user_management') }}" method="post" style="margin-right: 20px">
                    {{ assign_collection_to_user_form.hidden_tag() }}
                    <div style="display: flex; align-items: center; width: 100%;">
                        <p style="margin: 2px 0 0 8px">اختصاص</p>
                        {{ assign_collection_to_user_form.data_collection(class="form-control", style="width:52%; flex-grow: 1; margin-left: 10px;") }}
                        <p style="margin: 2px 0 0 8px">به</p>
                        {{ assign_collection_to_user_form.username(class="form-control", style="width:52%; flex-grow: 1; margin-left: 10px;") }}
                        {{ assign_collection_to_user_form.submit(class="btn btn-danger btn-success", style="width:38%;") }}
                    </div>
                </form>
            </div>


        <div id="revoke_data"
                 style="padding: 20px; border-radius: 10px; margin: 80px -15px 20px -15px">
                <h5>لغو تخصیص داده به کاربران</h5>
                <form action="{{ url_for('admin_user_management') }}" method="post" style="margin-right: 20px">
                    {{ revoke_collection_from_user_form.hidden_tag() }}
                    <div style="display: flex; align-items: center; width: 100%;">
                        <p style="margin: 2px 0 0 8px">عدم اختصاص</p>
                        {{ revoke_collection_from_user_form.data_collection(class="form-control", style="width:52%; flex-grow: 1; margin-left: 10px;") }}
                        <p style="margin: 2px 0 0 8px">به</p>
                        {{ revoke_collection_from_user_form.username(class="form-control", style="width:52%; flex-grow: 1; margin-left: 10px;") }}
                        {{ revoke_collection_from_user_form.submit(class="btn btn-danger btn-success", style="width:38%;") }}
                    </div>
                </form>
            </div>


        </div>
        <div class="half_left" style="max-width: 0%">
            <img src="/static/images/login.png" alt="Your Image">
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/content_sub_part_background_color.js') }}"></script>

{% endblock %}

{% block left_sidebar %}
    <div style="flex: 0 0 20%; background-color:var(--sidebar-color);">
        <nav class="navbar navbar-expand-lg navbar-dark p-0"
             style="background-color: var(--sidebar-color); margin-top: 20px; position: sticky; top: 25px; z-index: 1000;">
            <div class="container-fluid d-flex flex-column justify-content-start align-items-stretch p-0">
                <ul class="navbar-nav flex-column w-100" style="padding-inline-start: 0;">
                    <!-- Admin Users -->
                    {% if admin_users %}
                        <li class="nav-item w-100">
                            <div style="margin-bottom: 20px">
                                <option style="background-color: var(--left-sidebar-color); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 5px;">
                                    کاربران ادمین:
                                </option>
                                <ul style="list-style: none; padding: 0; margin: 0;">
                                    {% for user in admin_users %}
                                        <li style="padding: 5px; margin: 5px 0 5px 0; text-align: center; background-color: var(--left-sidebar-color-sub-item); color: rgba(255,255,255,0.85);">{{ user }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Supervisor Users -->
                    {% if supervisor_users %}
                        <li class="nav-item w-100">
                            <div style="margin-bottom: 20px">
                                <option style="background-color: var(--left-sidebar-color); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 5px;">
                                    کاربران سوپروایزر:
                                </option>
                                <ul style="list-style: none; padding: 0; margin: 0;">
                                    {% for user in supervisor_users %}
                                        <li style="padding: 5px;  margin: 5px 0 5px 0; text-align: center; background-color:  var(--left-sidebar-color-sub-item); color: rgba(255,255,255,0.85);">{{ user }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}

                    <!-- User Users -->
                    {% if user_users %}
                        <li class="nav-item w-100">
                            <div style="margin-bottom: 20px">
                                <option style="background-color: var(--left-sidebar-color); color: rgba(255,255,255,0.85); display:flex; justify-content: center; padding: 5px;">
                                    کاربران برچسب گذار:
                                </option>
                                <ul style="list-style: none; padding: 0; margin: 0;">
                                    {% for user in user_users %}
                                        <li style="padding: 5px;  margin: 5px 0 5px 0; text-align: center; background-color: var(--left-sidebar-color-sub-item); color: rgba(255,255,255,0.85);">{{ user }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </div>
    <style>
        .nav-link2:hover {
            background-color: var(--sidebar-color-hover); /* Light transparent white on hover */
            transition: background-color 0.3s ease;
        }
    </style>

{% endblock %}